fastapi
uvicorn[standard]
python-dotenv
groq
supabase
qdrant-client[fastembed]
fastembed
langchain
langchain-community
langchain-text-splitters
pypdf
pillow
pytesseract
duckduckgo-search
python-multipart
httpx