fastapi
uvicorn[standard]
python-dotenv
groq
supabase
qdrant-client
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
torch==2.11.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
pypdf
pillow
pytesseract
duckduckgo-search
python-multipart
httpx